OPENROUTER_API_KEY=
OPENROUTER_HTTP_REFERER=http://localhost:3000
OPENROUTER_X_TITLE=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
LANGSMITH_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash